<ngx-charts-directed-graph
  class="chart-container"
  [view]="view"
  [nodes]="dataNodes"
  [curve]="curve">

  <template #defsTemplate>
    <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto">
      <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
    </svg:marker>
  </template>

  <template #nodeTemplate let-node>
    <svg:g class="node"
      ngx-tooltip
      [tooltipPlacement]="'top'"
      [tooltipType]="'tooltip'"
      [tooltipTitle]="node.label">
      <svg:rect [attr.width]="10" [attr.height]="10" [attr.fill]="node.options.color" />
      <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="5">{{node.label}}</svg:text>
      <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="25">Logged at: {{node.time}}</svg:text>
      <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="50">Task Id: {{node.task}}</svg:text>
    </svg:g>
  </template>

   <template #linkTemplate let-link>
    <svg:g class="edge">
      <svg:path
        class="line"
        stroke-width="2"
        marker-end="url(#arrow)" >
      </svg:path>
    </svg:g>
  </template> 

  <!-- <ng-template #linkTemplate let-link>
          <svg:g class="edge">
            <svg:path
              class="line"
              stroke-width="2"
              marker-end="url(#arrow)" >
            </svg:path>
            <svg:text class="edge-label" text-anchor="middle">
              <textPath
                class="text-path"
                [attr.href]="'#' + link.id"
                [style.dominant-baseline]="link.dominantBaseline"
                startOffset="50%">
                {{link.label}}
              </textPath>
            </svg:text>
          </svg:g>
        </ng-template> -->

</ngx-charts-directed-graph>
